@model toddt_weather_forecast.Models.DailyForecastPagedListFromSearch
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/Scripts/canvasjs.min.js"></script>
    <script src="~/Scripts/render.daily.forecasts.js"></script>
    <script>generateLowTemperaturesChart(@Html.Raw(@Model.SerializedLowTemperatures),
            '@Model.LowTemperatureGraphTitle', '@Model.XAxisLabel', '@Model.LowTemperatureYAxisLabel')</script>
    <script>generateHighTemperaturesChart(@Html.Raw(@Model.SerializedHighTemperatures),
            '@Model.HighTemperatureGraphTitle', '@Model.XAxisLabel', '@Model.HighTemperatureYAxisLabel')</script>
}

<div class="row">
    <h1>
        @Html.ActionLink("Hourly Forecast", "HourlyForecastResultsFromSearch", "PreviousSearch",
                  new { searchId = Model.dailyForecastSearchId }, null)
    </h1>
</div>

<div class="row">
    <p>
        <h1>Results!</h1>
        <div id="lowTempChart" style="width: 500px; height: 300px;"></div>
        <div id="highTempChart" style="width: 500px; height: 300px;"></div>
    </p>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("DailyForecastResultsFromSearch",
    new { page, searchId = Model.dailyForecastSearchId }))

